<mat-drawer-container class="h-100">
    <mat-drawer class="rounded-0" #drawer mode="over" position="end">
        <div class="container d-flex flex-column  h-100">
            <mat-toolbar><span>Project Name</span></mat-toolbar>
            <form [formGroup]="projectForm">
                <mat-form-field appearance="outline">
                    <mat-label>Project Name</mat-label>
                    <input formControlName="text" type="text" name="projectName" id="projectName" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" name="descrption" id="descrption" matInput></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Start date</mat-label>
                    <input formControlName="start_date" matInput [matDatepicker]="picker" (click)="picker.open()">
                    <mat-icon matSuffix>calendar_today</mat-icon>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="row g-2">
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Days</mat-label>
                        <input formControlName="duration" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Status</mat-label>
                            <mat-select formControlName="status" name="status">
                            @for (color of utility.status; track color) {
                                <mat-option [value]="color.hex">
                                    <div class="d-flex flex-row justify-content-center">
                                        <span class="square" [ngStyle]="{ 'background-color': color.hex }"></span> 
                                        {{ color.text?.toUpperCase() }}</div>
                                </mat-option>
                            }
                            </mat-select>
                      </mat-form-field>
                </div>
            </form>
            <div class="mt-auto mb-5 py-4 row g-3">
                <div class="col-6">
                    <button class="w-100" color="prmary" mat-flat-button>Save</button>
                </div>
                <div class="col-6">
                    <button class="w-100" (click)="onClickCancel()" mat-stroked-button>Cancel</button>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="d-flex flex-column h-100">
            <div class="container-fluid mt-3">
                <div class="d-flex flex-row w-100 justify-content-center align-items-center">
                    <button class="me-3" (click)="utility.onGotoPage('scheduler')" color="primary" mat-icon-button>
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <p class="fs-5 fw-semibold me-auto p-0 m-0">Gantt Chart Schedule</p>
                    <button (click)="drawer.toggle()" color="primary" mat-flat-button>
                        <mat-icon>add</mat-icon> New
                    </button>
                </div>
            </div>
            <div class="container-fluid mt-2 d-flex flex-column flex-grow-1">
                <div class="w-100">
                    <app-date-range-picker></app-date-range-picker>
                </div>
                
                <div #gantt class='gantt-chart flex-grow-1'></div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>